* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	-webkit-tap-highlight-color: transparent;
}
li {
    list-style: none;
}
input,
textarea,
select,
button,
button:active,
textarea:focus,
input:focus{
    outline: none;
    border: none;
	-webkit-touch-callout: none;
}
